@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.logo-img{
  height: 100%;
  width: 55px;
  margin-right: 85px;
}

.navbar-brand{
  font-family: 'Prompt', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  margin-left: 5px;
  color: #1FE0C1;
}

.navbar .nav{
  font-family: 'Prompt', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}
.navbar-inverse{
  background: rgba(0, 0, 0, 0.27);
}

.navbar-nav{
  background-color: black;
}
li{
  margin-left: 25px;
}
a{
  text-decoration: none;
  color: #C11FE0;
}
header{
  padding: 10px;
  background-color: black;
  opacity: 1;
}

li:hover{
  transform: scale(1.1);
  color: white;
}
.navbar{
  background-color: #000005;
}


