<header class="navbar navbar-dark navbar-inverse navbar fixed-top bs-docs-nav">
  <div class="container">
    <div class="navbar-header">
        <span></span><span></span><span></span><span></span>
      <a href="#" class="navbar-brand">
        <img src="assets/images/brandmark-design.png" class="logo-img">
      Tarun Bhalla
      </a>
      </div>
      <nav class="navbar-nav navbar-expand-lg" role="navigation" style="background-color: grey">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a routerLink="/Home">HOME</a>
          </li>
          <li class="nav-item">
            <a routerLink="/About">ABOUT</a>
          </li>
          <li class="nav-item">
            <a routerLink="/projects">PROJECTS</a>
          </li>
          <li class="nav-item">
            <a routerLink="/Contact">CONTACT</a>
          </li>
        </ul>
      </nav>
  </div>
</header>

