footer{
  background-color: rgba(14, 10, 10, 0.7);
  color: white;
  font-family: 'Prompt', sans-serif;
  height: 8vh;
  width: 100%;
  position: relative;
}

div{
  text-align: center;
}
p{
  padding-top: 1%;
  font-size: 1em;
  overflow: hidden;
}
