<div class="container">
  <div class="title">
    <h1 class="title">About Me</h1>
  </div>

  <div class="aboutMe">
    <div class="text-left">
      I became my journey as a developer a few years ago and since I've proceeded
      to get a BA in Information Technology & complete a Full-Stack Java
      BootCamp hosted by StackRoute. In addition to the stack above,
      I have experience working with Agile methodologies, Jira & various
      code cleaning practices.
      <br>
      <br>
      As a young professional in the industry I love the idea of creating
        technologies that will not only be innovation but also <b>disruptive</b>
        towards the industry. <br><br>
      <span style="margin-left: 8%; font-size: 20px">
      Fueled by coffee and music, I can help in bringing that webpage you
      dream about to life!</span>
    </div>
  </div>
</div>
