.container{
  font-family: 'Prompt', sans-serif;
  width: 70%;
  padding-bottom: 5%;
  padding-top: 2.5%;
}
h1{
  text-align: center;
  color: #C11FE0;
  font-weight: 600;
  opacity: 1.5;
  padding: 10px;
  font-family: 'Prompt', sans-serif;
  letter-spacing: 1px;
}

.aboutMe{
  color: #E0C11F;
  font-size: 1em;
  letter-spacing: 1px;
}

