<div class="container">
  <h1>My Work:</h1>
  <!--Create display for each project - at least 4 -->
  <div class="card-body">

    <div class="card bg-black">
      <img class="card-img" src="/assets/images/buyNsell.png" alt="Project image">
      <div class="card-img-overlay">
        <div class="text">
        <h5 class="card-title" style="font-weight: 700; color: #1FE0C1" >Full Stack Buy&Sell App</h5>
          <p>A full stack application developed using Angular and
          Spring boot. </p>
        </div>
      </div>
    </div>

    <div class="card bg-black">
      <img class="card-img"  src="/assets/images/basicSports.jpeg" alt="Project image">
      <div class="card-img-overlay">
        <div class="text">
          <h5 class="card-title" style="font-weight: 700; color: #1FE0C1">Sports By T</h5>
          <p>Simple webpage made using basic HTML/CSS</p>
        </div>
      </div>
    </div>

    <div class="card bg-black">
      <img class="card-img" src="/assets/images/dogshop.png" alt="Project image">
      <div class="card-img-overlay">
        <div class="text">
          <h5 class="card-title" style="font-weight: 700; color: #1FE0C1">Demo Boutique</h5>
          <p>Webpage created with HTML/CSS/JS</p>
        </div>
      </div>
    </div>

    <div class="card bg-black">
      <img class="card-img" src="/assets/images/jsGuesser.jpeg" alt="Project image">
      <div class="card-img-overlay">
        <div class="text">
          <h5 class="card-title" style="font-weight: 700; color: #1FE0C1">Number Guesser</h5>
          <p>Simple guessing game created using JS</p>
        </div>
      </div>
    </div>
  </div>
  <button class="btn-outline-secondary" (click)="openGit()">See More</button>
</div>
