<div class="container">
  <div class="home-component">
    <div class="pageTitle">Hi,
    <br><div class="textShift">I'm Tarun - Welcome to my page.</div></div>

    <!--Intro Comp-->
    <div class="info_blob">
      <h2 class="intro">I'm a full stack Developer specializing in Java & Angular based
      Development.</h2>
      <br><br>
      <section class="info">I'm a Toronto based Full-stack developer specializing in Java and
      Front-end Development. I have experience using frameworks such as
    Spring, Angular and Docker.
     </section>

      <!--image of languages-->
      <br>
      <section class="icon_container">
        <h1>My Stack:</h1>
        <ul class="icons">
          <li>
            <i class="fa-solid fa-leaf fa-3x" style="color: lawngreen"></i>
          </li>
          <li>
            <i class="fa-brands fa-angular fa-3x" style="color: red"></i>
          </li>
          <li>
          <i class="fa-brands fa-html5 fa-3x" style="color: orangered"></i>
          </li>
          <li>
            <i class="fa-brands fa-css3-alt fa-3x" style="color: blue"></i>
          </li>
          <li>
            <i class="fa-brands fa-js fa-3x" style="color: blue"></i>
          </li>
          <li>
            <i class="fa-brands fa-java fa-3x" style="color: orange"></i>
          </li>
          <li>
            <i class="fa-brands fa-docker fa-3x" style="color: lightskyblue"></i>
          </li>
          <li>
            <i class="fa-solid fa-database fa-3x" style="color: grey"></i>
          </li>
          <li>
            <i class="fa-brands fa-git-square fa-3x" style="color: orange"></i>
          </li>
        </ul>
      </section>

    </div>
  </div>
</div>
